{% extends 'dashboard/base.html' %}

{% block title %}CronJob{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/cronjob-128.png?raw=true{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/cronjob-128.png?raw=true" style="height: 5vh;" alt="cronjob">
            <h2 class="mb-4 ps-3 text-primary">CronJob: {{ cronjob_name }}</h2>
        </div>
        
        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="cronjobTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="edit-tab" data-bs-toggle="tab" href="#edit">Edit</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name</b>: {{ cronjob_info.describe.name }}
<b>Namespace</b>: {{ cronjob_info.describe.namespace }}
<b>Labels</b>: {% if cronjob_info.describe.labels %}{{ cronjob_info.describe.labels }}{% else %}<span>- None</span>{% endif %}
<b>Annotations</b>: {% if cronjob_info.describe.annotations %}{{ cronjob_info.describe.annotations }}{% else %}<span>- None</span>{% endif %}
<b>Schedule</b>: {{ cronjob_info.describe.schedule }}
<b>Concurrency Policy</b>: {{ cronjob_info.describe.concurrency_policy }}
<b>Suspend</b>: {{ cronjob_info.describe.suspend }}
<b>Successful Job History Limit</b>: {{ cronjob_info.describe.successful_jobs_history_limit }}
<b>Failed Job History Limit</b>: {{ cronjob_info.describe.failed_jobs_history_limit }}
<b>Starting Deadline Seconds</b>: {{ cronjob_info.describe.starting_deadline_seconds|default:"<unset>" }}
<b>Selector</b>: {{ cronjob_info.describe.selector|default:"<unset>" }}
<b>Pod Template</b>:
    <strong>Labels:</strong>{% for key, value in cronjob_info.describe.pod_template.labels.items %} {{ key }}={{ value }}{% if not loop.last %}{% endif %}<br>         {% endfor %}
    <strong>Containers:</strong> {% for container in cronjob_info.describe.pod_template.containers %}
    - {{ container.name }}
    <strong>Image:</strong> {{ container.image }}
    <strong>Command:</strong> {% for cmd in container.command %}{{ cmd }}{% if not loop.last %}, {% endif %}{% endfor %}
    <strong>Environment:</strong> {% for env in container.env %}{{ env }}{% if not loop.last %}, {% endif %}{% endfor %}
    <strong>Mounts:</strong> {% for mount in container.mounts %}{{ mount }}{% if not loop.last %}, {% endif %}{% endfor %}{% endfor %}

    <strong>Volumes:</strong> {% for volume in cronjob_info.describe.pod_template.volumes %}
    - <strong>Name:</strong> {{ volume.name }}
    <strong>Type:</strong> {% if volume.type %}{{ volume.type }}{% else %}Unknown{% endif %}{% endfor %}
    <strong>Node Selectors:</strong> {% if cronjob_info.describe.pod_template.node_selectors %}{% for key, value in cronjob_info.describe.pod_template.node_selectors %}
    - {{ key }}: {{ value }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}
    <span>- None</span>{% endif %}
    <strong>Tolerations:</strong> {% for toleration in cronjob_info.describe.pod_template.tolerations %}
    - {{ toleration }}{% if not loop.last %}, {% endif %}{% endfor %}

<b>Last Schedule Time</b>: {{ cronjob_info.describe.pods_status.last_schedule_time|date:"r" }}
<b>Active Jobs</b>: {% if cronjob_info.describe.active_jobs %} {% for job in cronjob_info.describe.active_jobs %} {{ job }}{% if not loop.last %}{% endif %}{% endfor %} <br>{% else %}<span>None</span>{% endif %}
                    </pre>
                </div>
                
                  
              </div>
              
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if cronjob_info.events %}{{ cronjob_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>CronJob YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                    <pre id="yamlContent">{{ cronjob_info.yaml }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="edit">
                <!-- Modal for YAML changes -->
                {% if cronjob_info.show_modal %}
                <div class="alert alert-success">
                    <div>
                        {{cronjob_info.message}}
                    </div>
                        <ul>
                        {% for changes in cronjob_info.changes %}
                            <li>{{changes}}</li>
                        {% endfor %}
                        </ul>
                </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <textarea name="cronjob_yaml" id="cronjob_yaml" class="form-control" rows="25" spellcheck="false">{{ cronjob_info.edit }}</textarea>
                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                </form>
            </div>
        </div>

        <a href="/{{cluster_id}}/cronjobs?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to CronJobs</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>

{% endblock %}
