{% extends 'dashboard/base.html' %}

{% block title %}DaemonSet{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/ds-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/ds-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">DaemonSet: {{ daemonset_name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name:</b> {{ daemonset_info.describe.name }}
<b>Selector:</b> {% for key, value in daemonset_info.describe.selector.items %}{{ key }}={{ value }}{% if not loop.last %}{% endif %}<br>          {% endfor %}
<b>Namespace:</b> {{ daemonset_info.describe.namespace }}
<b>Labels:</b> {% for key, value in daemonset_info.describe.labels.items %} {{ key }}={{ value }}{% if not loop.last %} {% endif %} 
        {% endfor %}
<b>Annotations:</b> {% for key, value in daemonset_info.describe.annotations.items %}{{ key }}: {{ value }}{% if not loop.last %} {% endif %}<br>       {% endfor %}
<b>Desired Number of Nodes Scheduled:</b> {{ daemonset_info.describe.status.desired_number_scheduled }}
<b>Current Number of Nodes Scheduled:</b> {{ daemonset_info.describe.status.current_number_scheduled }}
<b>Number of Nodes Scheduled with Up-to-date Pods:</b> {{ daemonset_info.describe.status.number_ready }}
<b>Number of Nodes Scheduled with Available Pods:</b> {{ daemonset_info.describe.status.number_available }}
<b>Number of Nodes Misscheduled:</b> {% if daemonset_info.describe.status.number_misscheduled != "N/A" %}{{ daemonset_info.describe.status.number_misscheduled }}{% else %}N/A{% endif %}
<b>Pods Status:</b>
<b>Pod Template:</b>
  <b>Labels:</b> {% for key, value in daemonset_info.describe.template.labels.items %} {{ key }}={{ value }}{% if not loop.last %} {% endif %} <br>       {% endfor %}
  <b>Containers:</b>{% for container in daemonset_info.describe.template.containers %}
    {{ container.name }}
      <b>Image:</b> {{ container.image }}
      <b>Port:</b> {% for port in container.ports %}{{ port }} {% endfor %} 
      <b>Environment:</b> {% for env in container.env %}{{ env }}{% if not loop.last %}, {% endif %}{% endfor %}
      <b>Mounts:</b> {% for mount in container.mounts %}{{ mount }}{% if not loop.last %}, {% endif %}{% endfor %}{% endfor %}
  <b>Volumes:</b> {% for volume in daemonset_info.describe.pod_template.volumes %}
  - <b>Name:</b> {{ volume.name }}
  <b>Type:</b> {% if volume.type %}{{ volume.type }}{% else %}Unknown{% endif %}{% endfor %}
  <b>Node Selectors:</b> {% if daemonset_info.describe.pod_template.node_selectors %}{% for key, value in daemonset_info.describe.pod_template.node_selectors %}
  - {{ key }}: {{ value }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %} <span>None</span>{% endif %}
  <b>Tolerations:</b> {% for toleration in daemonset_info.describe.pod_template.tolerations %}
  - {{ toleration }}{% if not loop.last %}, {% endif %}{% endfor %}
</pre>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if daemonset_info.events %}{{ daemonset_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                
                    <pre id="yamlContent">{{ daemonset_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/daemonset?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to DaemonSets</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
