{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Deployments{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/deploy-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Resource Tabs">
      <a href="/{{current_cluster}}/pods?cluster_id={{cluster_id}}" class="btn btn-primary" id="pods-tab">Pods</a>
      <a href="/{{current_cluster}}/replicasets?cluster_id={{cluster_id}}" class="btn btn-primary" id="replicasets-tab">ReplicaSets</a>
      <a href="/{{current_cluster}}/deployments?cluster_id={{cluster_id}}" class="btn btn-primary active" id="deployments-tab">Deployments</a>
      <a href="/{{current_cluster}}/statefulsets?cluster_id={{cluster_id}}" class="btn btn-primary" id="statefulsets-tab">StatefulSets</a>
      <a href="/{{current_cluster}}/daemonset?cluster_id={{cluster_id}}" class="btn btn-primary" id="daemonset-tab">DaemonSets</a>
      <a href="/{{current_cluster}}/jobs?cluster_id={{cluster_id}}" class="btn btn-primary" id="jobs-tab">Jobs</a>
      <a href="/{{current_cluster}}/cronjobs?cluster_id={{cluster_id}}" class="btn btn-primary" id="cronjobs-tab">CronJobs</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="deployments">
      <div class="container border border-3 rounded-2 border-secondary-subtle p-4 m-3">
        <div class="row mb-0">
          <div class="col-md-3 align-items-center justify-content-center mx-auto">
            <div class="grid-box flex-fill stats-card bg-primary "><b><i>Total Deployments: {{dep_status.Count}}</i></b></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
            <div class="grid-box stats-card bg-success text-center p-3 w-100 m-2"><b><i>Running: {{dep_status.Running}}</i></b></div>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center p-3">
            <div class="grid-box d-flex align-items-center justify-content-center p-1 w-100" style="min-height: 200px;">
                <canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
            <div class="grid-box stats-card bg-warning text-center p-3 w-100 m-2"><b><i>Pending: {{dep_status.Pending}}</i></b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
     
    <div class="mb-1 d-flex justify-content-between">
      <!-- New dropdown on the left -->
      <div class="d-flex">
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}      
        </ul>
      </div>

      <div class="mx-3">
        <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search deployments...">
      </div>
    </div>
      
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Ready" id="Ready" checked> 
                <label class="form-check-label" for="Ready"> Ready</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
                <label class="form-check-label" for="Age"> Age</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Images" id="Images" checked> 
                <label class="form-check-label" for="Images"> Images</label>
            </li>
          </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th id="colNamespace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colReady">READY</th>
          <th id="colAge">AGE</th>
          <th id="colImages">IMAGES</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for deployment in deployment_info_list %}
        <tr>
          <td>{{ deployment.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/deployments/{{deployment.namespace}}/{{deployment.name}}?cluster_id={{cluster_id}}">
                {{ deployment.name }}
            </a>
          </td>
          <td>{{ deployment.ready }}</td>
          <td>{{ deployment.age }}</td>
          <td>{{ deployment.images }}</td>
          <td id="actionElement">
            <div class="dropdown">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/deployments/{{deployment.namespace}}/{{deployment.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/deployments/{{deployment.namespace}}/{{deployment.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/deployments/{{deployment.namespace}}/{{deployment.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
<script src="{% static 'js/namespaceFilter.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
          renderGaugeChart("gaugeChart", {
              {% for status, count in dep_status.items %}
                  "{{ status }}": {{ count }}{% if not loop.last %}, {% endif %}
              {% endfor %}
          }, 'Deployments');
  });
</script>
{% endblock %}
