{% extends 'dashboard/base.html' %}

{% block title %}Deployment{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/deploy-128.png?raw=true{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/deploy-128.png?raw=true" style="height: 5vh;" alt="deploy">
            <h2 class="mb-4 ps-3 text-primary">Deployment: {{ deploy_name }}</h2>
        </div>
        
        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="deployTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="edit-tab" data-bs-toggle="tab" href="#edit">Edit</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name</b>: {{ deploy_info.describe.name }}
<b>Namespace</b>: {{ deploy_info.describe.namespace }}
<b>Creation Timestamp</b>: {{ deploy_info.describe.creation_timestamp }}
<b>Labels</b>: {% for key, value in deploy_info.describe.labels %} {{ key }}={{ value }}{% if not loop.last %}{% endif %} 
        {% endfor %}
<b>Annotations</b>: {% for key, value in deploy_info.describe.annotations.items %}{{ key }}: {{ value }}{% if not loop.last %}{% endif %}
        {% endfor %}
<b>Selector</b>: {% for key, value in deploy_info.describe.selector %}{{ key }}={{ value }}{% if not loop.last %}{% endif %}<br>          {% endfor %}
<b>Replicas</b>: {{ deploy_info.describe.replicas.desired }} desired | {{ deploy_info.describe.replicas.updated }} updated | {{ deploy_info.describe.replicas.total }} total | {{ deploy_info.describe.replicas.available }} available | {{ deploy_info.describe.replicas.unavailable }} unavailable
<b>Strategy Type</b>: {{ deploy_info.describe.strategy.type }}
<b>RollingUpdateStrategy</b>: {{ deploy_info.describe.strategy.rolling_update.max_unavailable }} Max Unavailable, {{ deploy_info.describe.strategy.rolling_update.max_surge }} Max Surge: 
<b>MinReadySeconds</b>: {{ deploy_info.describe.strategy.min_ready_seconds }}

<b>Pod Template</b>:
  <strong>Labels:</strong>{% for key, value in deploy_info.describe.pod_template.labels %} {{ key }}= {{ value }}{% if not loop.last %}<br>{% endif %}{% endfor %}
  <strong>Containers</strong>:{% for container in deploy_info.describe.pod_template.containers %}
  - {{ container.name }}
    <strong>Image:</strong> {{ container.image }}
    <strong>Ports:</strong>{% for port in container.ports %} {{ port }}{% endfor %}
    <strong>Environment Variables:</strong> {% for env in container.env %}{{ env }}{% if not loop.last %}, {% endif %}{% endfor %}
    <strong>Mounts:</strong> {% for mount in container.mounts %}{{ mount }}{% if not loop.last %}, {% endif %}{% endfor %}{% endfor %}
                        
  <strong>Volumes:</strong>{% for volume in deploy_info.describe.pod_template.volumes %}
  - <strong>Name:</strong> {{ volume.name }}
  <strong>Type:</strong> {% if volume.type %}{{ volume.type }}{% else %}Unknown{% endif %} {% endfor %}
                      
  <strong>Node Selectors:</strong> {% if deploy_info.describe.pod_template.node_selectors %} {% for key, value in deploy_info.describe.pod_template.node_selectors %}
  - {{ key }}: {{ value }}{% if not loop.last %}, {% endif %} {% endfor %} {% else %} <span>None</span> {% endif %}
                      
  <strong>Tolerations:</strong>{% for toleration in deploy_info.describe.pod_template.tolerations %}
  - {{ toleration }}{% endfor %}

  <b>Conditions</b>:
  <table>
    <thead>
        <th>Type</th>
        <th>Status</th>
        <th>Reason</th>
    </thead>
    <tbody>
        {% for condition in deploy_info.describe.conditions %}
        <tr>
            <td>{{ condition.type }}</td>
            <td>{{ condition.status }}</td>
            <td>{{ condition.reason }}</td>
        </tr>{% endfor %}</tbody></table>
<b>Old ReplicaSets</b>: {% if deploy_info.describe.old_replicasets %}{% for rs in deploy_info.describe.old_replicasets %} {{ rs }} <br> {% endfor %}{% else %} <span>None</span>{% endif %}
<b>New ReplicaSet</b>: {{ deploy_info.describe.new_replicaset }}
                    </pre>
                </div>
                
              </div>
              
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if deploy_info.events %}{{ deploy_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Deployments YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                    <pre id="yamlContent">{{ deploy_info.yaml }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="edit">
                <!-- Modal for YAML changes -->
                {% if deploy_info.show_modal %} 
                <div class="alert alert-success">
                    <div>
                        {{deploy_info.message}}
                    </div>
                        <ul>
                        {% for changes in deploy_info.changes %}
                            <li>{{changes}}</li>
                        {% endfor %}
                        </ul>
                </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div id="editor" style="height: 40rem; width: 100%;">{{deploy_info.edit}}</div>
                    <textarea id="yaml-output" name="yaml" hidden></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                </form>
            </div>
        </div>

        <a href="/{{cluster_id}}/deployments?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Deployments</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
    <script src="{% static 'js/ace_config.js' %}"></script>
{% endblock %}
