{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Pods{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pod-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="container border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="row mb-0">
      <div class="col-md-3 align-items-center justify-content-center mx-auto">
        <div class="grid-box flex-fill stats-card bg-primary "><b><i>Total Pods: {{pc}}</i></b></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
        <div class="grid-box stats-card bg-success text-center p-3 w-100 m-2 "><b><i>Running: {{status_count.Running}}</i></b></div>
        <div class="grid-box stats-card bg-warning text-center p-3 w-100 m-2"><b><i>Pending: {{status_count.Pending}}</i></b></div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center p-3">
        <div class="grid-box d-flex align-items-center justify-content-center p-1 w-100" style="min-height: 200px;">
            <canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas>
        </div>
    </div>
      <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
        <div class="grid-box stats-card bg-danger text-center p-3 w-100 m-2"><b><i>Failed: {{status_count.Failed}}</i></b></div>
        <div class="grid-box stats-card bg-info text-center p-3 w-100 m-2"><b><i>Succeeded: {{status_count.Succeeded}}</i></b></div>
      </div>
    </div>
  </div>
  
  <div class="container p-0 m-0">
    <!-- Dropdowns container -->
    <div class="mb-3 d-flex justify-content-between">
      <!-- New dropdown on the left -->
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}          
        </ul>
      </div>
      
      <!-- Original column selector dropdown -->
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
          Select Columns to Display
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
              <label class="form-check-label" for="All"> All</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
              <label class="form-check-label" for="Namespace"> Namespace</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
              <label class="form-check-label" for="Name"> Name</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Containers" id="Containers" checked> 
              <label class="form-check-label" for="Containers"> Containers</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Node" id="Node" checked> 
              <label class="form-check-label" for="Node"> Node</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="IP" id="IP" checked> 
              <label class="form-check-label" for="IP"> IP</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Restarts" id="Restarts" checked> 
              <label class="form-check-label" for="Restarts"> Restarts</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
              <label class="form-check-label" for="Age"> Age</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Status" id="Status" checked> 
              <label class="form-check-label" for="Status"> Status</label>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Table -->
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th id="colNamespace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colContainers">CONTAINERS</th>
          <th id="colNode">NODE</th>
          <th id="colIP">IP</th>
          <th id="colRestarts">RESTARTS</th>
          <th id="colAge">AGE</th>
          <th id="colStatus">STATUS</th>
          <th id="colActions"></th>
        </tr>
      </thead>
      <tbody>
      {% for pod in pod_info_list %}
          <tr>
          <td>{{ pod.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/pods/{{pod.namespace}}/{{pod.name}}?cluster_id={{cluster_id}}">
                {{ pod.name }}
            </a>
          </td>
          <td>{{ pod.containers }}</td>
          <td>{{ pod.node }}</td>
          <td>{{ pod.ip }}</td>
          <td>{{ pod.restarts }}</td>
          <td>{{ pod.age }}</td>
          <!-- <td style="{% if pod.status == "Running" %} background-color: #b3e6b3; {% elif pod.status == "Pending" %} background-color: #fff3cd; {% elif pod.status == "Succeeded" %} background-color: #bee3f8; {% endif %}">{{ pod.status }}</td> -->
          <td><span class="{% if pod.status == "Running" %}running-pod{% elif pod.status == "Pending" %} pending-pod {% elif pod.status == "Succeeded" %} succeeded-pod {% else %} failed-pod {% endif %}">{{ pod.status }}</span></td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/pods/{{pod.namespace}}/{{pod.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pods/{{pod.namespace}}/{{pod.name}}?cluster_id={{cluster_id}}#logs">Logs</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pods/{{pod.namespace}}/{{pod.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pods/{{pod.namespace}}/{{pod.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'js/namespaceFilter.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script>
  // graph
  document.addEventListener("DOMContentLoaded", function() {
      if (typeof renderGaugeChart === "function") {
          renderGaugeChart("gaugeChart", {
              {% for status, count in status_count.items %}
                  "{{ status }}": {{ count }}{% if not loop.last %}, {% endif %}
              {% endfor %}
          }, 'Pods');
      } else {
          console.error("renderGaugeChart is not defined. Make sure gaugeChart.js is loaded correctly.");
      }
  });
</script>

{% endblock %}