{% extends 'dashboard/base.html' %}

{% block title %}ReplicaSet{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/rs-128.png?raw=true{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/rs-128.png?raw=true" style="height: 5vh;" alt="rs">
            <h2 class="mb-4 ps-3 text-primary">ReplicaSet: {{ rs_name }}</h2>
        </div>
        
        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="rsTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                    <pre>
<b>Name</b>: {{ rs_info.describe.name }}
<b>Namespace</b>: {{ rs_info.describe.namespace }}
<b>Labels</b>: {% for key, value in rs_info.describe.labels %} {{ key }}={{ value }}{% if not loop.last %} {% endif %} 
        {% endfor %}
<b>Annotations</b>: {% for key, value in rs_info.describe.annotations %}{{ key }}: {{ value }}{% if not loop.last %} {% endif %}
             {% endfor %} 
<b>Controlled By</b>: {{ rs_info.describe.controlled_by }}
<b>Replicas</b>: Current: {{ rs_info.describe.replicas.current }}, Desired: {{ rs_info.describe.replicas.available }}
<b>Pods Status</b>: {{ rs_info.describe.pods_status.running }} Running / {{ rs_info.describe.pods_status.waiting }} Waiting / {{ rs_info.describe.pods_status.succeeded }} Succeeded / {{ rs_info.describe.pods_status.failed }} Failed
<b>Pod Template</b>:
    <strong>Labels:</strong>{% for key, value in rs_info.describe.pod_template.labels %} {{ key }}={{ value }}{% if not loop.last %}, {% endif %}
           {% endfor %}
    <strong>Containers</strong>:{% for container in rs_info.describe.pod_template.containers %}
      <strong>Name:</strong> {{ container.name }}
        <strong>Image:</strong> {{ container.image }}
        <strong>Ports:</strong>{% for port in container.ports %} {{ port }}{% endfor %}
        <strong>Environment Variables:</strong> {% for env in container.env %}{{ env }}{% if not loop.last %}, {% endif %}{% endfor %}
        <strong>Mounts:</strong> {% for mount in container.mounts %}{{ mount }}{% if not loop.last %}, {% endif %}{% endfor %}{% endfor %}

    <strong>Volumes:</strong>{% for volume in rs_info.describe.pod_template.volumes %}
        <strong>Name:</strong> {{ volume.name }}
        <strong>Type:</strong> {% if volume.type %}{{ volume.type }}{% else %}Unknown{% endif %} {% endfor %}
    <strong>Node Selectors:</strong> {% if rs_info.describe.pod_template.node_selectors %} {% for key, value in rs_info.describe.pod_template.node_selectors %}{{ key }}: {{ value }}{% if not loop.last %}, {% endif %} 
        {% endfor %} {% else %}<span> &lt; None &gt; </span> {% endif %}
    <strong>Tolerations:</strong>{% for toleration in rs_info.describe.pod_template.tolerations %}{{ toleration }}
        {% endfor %}
                    </pre>
                  </div>
                  
              </div>
              
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ rs_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>ReplicaSet YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                    <pre id="yamlContent">{{ rs_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/replicasets?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to ReplicaSet</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
