{% extends 'dashboard/base.html' %}
{% load static%}
{% block title %}StatefulSets{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sts-128.png?raw=true{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sts-128.png?raw=true" style="height: 5vh;" alt="deploy">
            <h2 class="mb-4 ps-3 text-primary">StatefulSets: {{ sts_name }}</h2>
        </div>
        
        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="deployTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                    <pre>
<b>Name</b>: {{ sts_info.describe.name }}
<b>Namespace</b>: {{ sts_info.describe.namespace }}
<b>Creation Timestamp</b>: {{ sts_info.describe.creation_timestamp }}
<b>Selector</b>:{% if sts_info.describe.selector %}{% for key, value in sts_info.describe.selector.items %}{{ key }}={{ value }}{% endfor %}{% else %}<span> None</span>{% endif %}
<b>Labels</b>: {% for key, value in sts_info.describe.labels %}
- {{ key }}: {{ value }}{% if not loop.last %}, {% endif %}{% empty %} None {% endfor %}
<b>Annotations:</b> {% if sts_info.describe.annotations %}{% for annotation, value in sts_info.describe.annotations.items %}
- {{ annotation }}: {{ value }}{% if not loop.last %}{% endif %}{% endfor %}{% else %} None {% endif %}
<b>Replicas</b>: {{ sts_info.describe.replicas.desired }} Desired | {{ sts_info.describe.replicas.total }} Total
<b>Update Strategy</b>: {{ sts_info.describe.update_strategy.type }}
  Partition: {{ sts_info.describe.update_strategy.partition }}
<b>Pods Status</b>: {{ sts_info.describe.pods_status.running }} Running / {{ sts_info.describe.pods_status.waiting }} Waiting / {{ sts_info.describe.pods_status.succeeded }} Succeeded / {{ sts_info.describe.pods_status.failed }} Failed
<b>Pod Template</b>:
    <strong>Labels:</strong>{% for key, value in sts_info.describe.pod_template.labels %}{{ key }}={{ value }}{% if not loop.last %}<br>{% endif %}{% endfor %}
    <strong>Containers</strong>:{% for container in sts_info.describe.pod_template.containers %}
    - <strong>Name:</strong> {{ container.name }}
        <strong>Image:</strong> {{ container.image }}
        <strong>Ports:</strong>{% for port in container.ports %} {{ port }}{% endfor %}
        <strong>Environment Variables:</strong> {% for env in container.env %}{{ env }}{% if not loop.last %}, {% endif %}{% endfor %}
        <strong>Mounts:</strong> {% for mount in container.mounts %}{{ mount }}{% if not loop.last %}, {% endif %}{% endfor %}{% endfor %}
    <strong>Volumes:</strong>{% for volume in sts_info.describe.pod_template.volumes %}
    - <strong>Name:</strong> {{ volume.name }}
        <strong>Type:</strong> {% if volume.type %}{{ volume.type }}{% else %}Unknown{% endif %} {% endfor %}
    <strong>Node Selectors:</strong> {% if sts_info.describe.pod_template.node_selectors %} {% for key, value in sts_info.describe.pod_template.node_selectors %}
    - {{ key }}: {{ value }}{% if not loop.last %}, {% endif %} {% endfor %} {% else %} <span>- None</span> {% endif %}
    <strong>Tolerations:</strong>{% for toleration in sts_info.describe.pod_template.tolerations %}
    - {{ toleration }}{% endfor %}
<b>Volume Claims</b>:{% for pvc in sts_info.describe.volume_claims %}
  <strong>Name:</strong> {{ pvc.name }}
  <strong>Storage Class:</strong> {{ pvc.storage_class|default:"None" }}
  <strong>Labels:</strong> {% for key, value in pvc.labels %}{{ key }}: {{ value }}{% if not loop.last %}, {% endif %}{% endfor %}
  <strong>Annotations:</strong> {% for key, value in pvc.annotations %}{{ key }}: {{ value }}{% if not loop.last %}, {% endif %}{% endfor %}
  <strong>Capacity:</strong> {{ pvc.capacity }}
  <strong>Access Modes:</strong> {% for mode in pvc.access_modes %}{{ mode }}{% if not loop.last %}, {% endif %}{% endfor %}
{% empty %}
<span>- None</span>{% endfor %}
                    </pre>
                </div>
              </div>
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ sts_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Deployments YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                    <pre id="yamlContent">{{ sts_info.yaml }}</pre>
                </div>
            </div>
        </div>

        <a href="/{{current_cluster}}/statefulsets={{cluster_id}}" class="btn btn-primary mt-3">Back to StatefulSets</a>
    </div>
    
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
