{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Cluster Role Binding{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/crb-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="RBAC Tabs">
      <a href="/{{current_cluster}}/role?cluster_id={{cluster_id}}" class="btn btn-primary" id="role-tab">Role</a>
      <a href="/{{current_cluster}}/rolebinding?cluster_id={{cluster_id}}" class="btn btn-primary" id="rolebinding-tab">RoleBinding</a>
      <a href="/{{current_cluster}}/clusterrole?cluster_id={{cluster_id}}" class="btn btn-primary" id="clusterrole-tab">ClusterRole</a>
      <a href="/{{current_cluster}}/clusterrolebinding?cluster_id={{cluster_id}}" class="btn btn-primary active" id="clusterrolebinding-tab">ClusterRoleBinding</a>
      <a href="/{{current_cluster}}/serviceAccount?cluster_id={{cluster_id}}" class="btn btn-primary" id="serviceaccount-tab">ServiceAccount</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="clusterrolebinding">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Cluster Roles: {{total_clusterrolebinding}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search bindings...">
        </div>
        <div class="dropdown d-flex justify-content-end align-items-center">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="role" id="role" checked> 
                <label class="form-check-label" for="role"> Role</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="users" id="users" checked> 
                <label class="form-check-label" for="users"> Users</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="groups" id="groups" checked> 
                <label class="form-check-label" for="groups"> Groups</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="serviceAccounts" id="serviceAccounts" checked> 
                <label class="form-check-label" for="serviceAccounts"> Service Accounts</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colRole">ROLE</th>
          <th class="sortable" id="colUsers">USERS</th>
          <th class="sortable" id="colGroups">GROUPS</th>
          <th class="sortable" id="colServiceAccounts">SERVICE ACCOUNTS</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for crb in clusterrolebinding %}
        <tr>
          <td><a href="/{{current_cluster}}/clusterrolebinding/{{crb.name}}?cluster_id={{cluster_id}}">{{ crb.name }}</a></td>
          <td>{{ crb.role }}</td>
          <td>{{ crb.users }}</td>
          <td>{{ crb.groups }}</td>
          <td>{{ crb.service_accounts }}</td>
          <td>{{ crb.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/clusterrolebinding/{{crb.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/clusterrolebinding/{{crb.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/clusterrolebinding/{{crb.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_clusterrolebinding}}
            }, 'ClusterRoleBinding');
    });
  </script>
{% endblock %}
