{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Cluster Role Binding{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/crb-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex align-items-center justify-content-evenly">
    <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Cluster Roles: {{total_clusterrolebinding}}</i></b></div>
    <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="role" id="role" checked> 
                <label class="form-check-label" for="role"> Role</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="users" id="users" checked> 
                <label class="form-check-label" for="users"> Users</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="groups" id="groups" checked> 
                <label class="form-check-label" for="groups"> Groups</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="serviceAccounts" id="serviceAccounts" checked> 
                <label class="form-check-label" for="serviceAccounts"> Service Accounts</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colName">NAME</th>
          <th id="colRole">ROLE</th>
          <th id="colUsers">USERS</th>
          <th id="colGroups">GROUPS</th>
          <th id="colServiceAccounts">SERVICE ACCOUNTS</th>
          <th id="colAge">AGE</th>
        </tr>
      </thead>

      <tbody>
      {% for crb in clusterrolebinding %}
        <tr>
          <td><a href="/{{current_cluster}}/clusterrolebinding/{{crb.name}}?cluster_id={{cluster_id}}">{{ crb.name }}</a></td>
          <td>{{ crb.role }}</td>
          <td>{{ crb.users }}</td>
          <td>{{ crb.groups }}</td>
          <td>{{ crb.service_accounts }}</td>
          <td>{{ crb.age }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_clusterrolebinding}}
            }, 'ClusterRoleBinding');
    });
  </script>
{% endblock %}
