{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Role{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/role-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="RBAC Tabs">
      <a href="/{{current_cluster}}/role?cluster_id={{cluster_id}}" class="btn btn-primary active" id="role-tab">Roles</a>
      <a href="/{{current_cluster}}/rolebinding?cluster_id={{cluster_id}}" class="btn btn-primary" id="rolebinding-tab">Role Bindings</a>
      <a href="/{{current_cluster}}/clusterrole?cluster_id={{cluster_id}}" class="btn btn-primary" id="clusterrole-tab">Cluster Roles</a>
      <a href="/{{current_cluster}}/clusterrolebinding?cluster_id={{cluster_id}}" class="btn btn-primary" id="clusterrolebinding-tab">Cluster Role Bindings</a>
      <a href="/{{current_cluster}}/serviceAccount?cluster_id={{cluster_id}}" class="btn btn-primary" id="serviceaccount-tab">Service Accounts</a>
    </div>
  </div>
  {% if total_role == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Roles Found.
    </div>
  {% else %}
  <div class="tab-content">
    <div class="tab-pane fade show active" id="role">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Roles: {{total_role}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      <!-- New dropdown on the left -->
      <div class="d-flex">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Namespaces
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
              <li>
                  <input type="checkbox" id="allNamespaces" class="form-check-input" onclick="toggleAllNamespaces()">
                  <label for="allNamespaces">All Namespaces</label>
              </li>
              <hr>
              {% for ns in namespaces %}
              <li>
                  <input type="checkbox" class="namespace-checkbox form-check-input" value="{{ ns }}" onclick="namespaceHandler()">
                  <label>{{ ns }}</label>
              </li>
              {% endfor %}
          </ul>
        </div>

        <div class="mx-3">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search roles...">
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
          Select Columns to Display
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
              <label class="form-check-label" for="All"> All</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
              <label class="form-check-label" for="Namespace"> Namespace</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
              <label class="form-check-label" for="Name"> Name</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="createdAt" id="createdAt" checked> 
              <label class="form-check-label" for="createdAt"> Created At</label>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colNamepsace">NAMESPACE</th>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colcreatedAt">CREATED AT</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for r in role %}
        <tr>
          <td>{{ r.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/role/{{r.namespace}}/{{r.name}}?cluster_id={{cluster_id}}">{{ r.name }}</a></td>
          <td>{{ r.created_at }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/role/{{r.namespace}}/{{r.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/role/{{r.namespace}}/{{r.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/role/{{r.namespace}}/{{r.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_role}}
            }, 'Roles');
    });
  </script>
{% endblock %}
