{% extends 'dashboard/base.html' %}

{% block title %}Role{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/role-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/role-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Role: {{ role_info.describe.name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                    <pre>
<b>Name:</b> {{ role_info.describe.name }}
<b>Labels:</b> {{ role_info.describe.labels }}
<b>Annotations:</b> {% if role_info.describe.annotations %}{% for annotation, value in role_info.describe.annotations.items %}
- {{ annotation }}: {{ value }}{% if not loop.last %}<br>{% endif %}{% endfor %}{% else %} None {% endif %}
<b>PolicyRule:</b>
</pre>
    <table class="text-center align-middle" style="border-collapse: separate; border-spacing: 0.4rem ;font-size: 0.9rem; ">
        <thead>
            <th>Resources</th>
            <th>Non-Resource URLs</th>
            <th>Resource Names</th>
            <th>Verbs</th>
        </thead>
        <tbody>
            {% for pr in role_info.describe.policy_rule %}
            <tr>
                <td>{{pr.resources}}</td>
                <td>{{pr.non_resource_urls}}</td>
                <td>{{pr.resource_names}}</td>
                <td>{{pr.verbs}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ role_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                
                    <pre id="yamlContent">{{ role_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/role?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Role</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
