{% extends 'dashboard/base.html' %}

{% block title %}Role Binding{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/rb-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/rb-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Role Binding: {{ role_binding_info.describe.name }}</h2>
        </div>
        
        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name:</b> {{ role_binding_info.describe.name }}
<b>Labels:</b> {{ role_binding_info.describe.labels }}
<b>Annotations:</b> {{ role_binding_info.describe.annotations }}
<b>Role:</b>
    <b>Kind:</b> {{ role_binding_info.describe.role.kind }}
    <b>Name:</b> {{ role_binding_info.describe.role.name }}
<b>Subjects:</b>
</pre>
    <table class="text-center align-middle" style="border-collapse: separate; border-spacing: 0.4rem ;font-size: 0.9rem; ">
        <thead>
            <th>Kind</th>
            <th>Name</th>
            <th>Namespace</th>
        </thead>
        <tbody>
            {% for rb in role_binding_info.describe.subjects %}
            <tr>
                <td>{{rb.kind}}</td>
                <td>{{rb.name}}</td>
                <td>{{rb.namespace}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if role_binding_info.events %}{{ role_binding_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    <pre id="yamlContent">{{ role_binding_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/rolebinding?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Role Bindings</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
