{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Service Account{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sa-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="RBAC Tabs">
      <a href="/{{cluster_id}}/role?cluster_id={{cluster_id}}" class="btn btn-primary" id="role-tab">Roles</a>
      <a href="/{{cluster_id}}/rolebinding?cluster_id={{cluster_id}}" class="btn btn-primary" id="rolebinding-tab">Role Bindings</a>
      <a href="/{{cluster_id}}/clusterrole?cluster_id={{cluster_id}}" class="btn btn-primary" id="clusterrole-tab">Cluster Roles</a>
      <a href="/{{cluster_id}}/clusterrolebinding?cluster_id={{cluster_id}}" class="btn btn-primary" id="clusterrolebinding-tab">Cluster Role Bindings</a>
      <a href="/{{cluster_id}}/sa?cluster_id={{cluster_id}}" class="btn btn-primary active" id="serviceaccount-tab">Service Accounts</a>
    </div>
  </div>
  {% if total_serviceAccount == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Service Accounts Found.
    </div>
  {% else %}
  <div class="tab-content border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="tab-pane fade show active" id="serviceaccount">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Service Accounts: {{total_serviceAccount}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      <!-- New dropdown on the left -->
      {% include 'dashboard/ns_dropdown.html'%}

        <div class="mx-3 col-md-7">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search service accounts...">
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
          Select Columns to Display
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
              <label class="form-check-label" for="All"> All</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
              <label class="form-check-label" for="Namespace"> Namespace</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
              <label class="form-check-label" for="Name"> Name</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="secrets" id="secrets" checked> 
              <label class="form-check-label" for="secrets"> Secrets</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
              <label class="form-check-label" for="age"> Age</label>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colNamepsace">NAMESPACE</th>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colSecrets">SECRETS</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for sa in serviceAccount %}
        <tr>
          <td>{{ sa.namespace }}</td>
          <td><a href="/{{cluster_id}}/sa/{{sa.namespace}}/{{sa.name}}?cluster_id={{cluster_id}}">{{ sa.name }}</a></td>
          <td>{{ sa.secrets }}</td>
          <td>{{ sa.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{cluster_id}}/sa/{{sa.namespace}}/{{sa.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/sa/{{sa.namespace}}/{{sa.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/sa/{{sa.namespace}}/{{sa.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_serviceAccount}}
            }, 'Service Accounts');
    });
  </script>
{% endblock %}
