{% extends 'dashboard/base.html' %}

{% block title %}Service Account{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sa-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-3"><div class="stats-card bg-primary"><b><i>Total Service Accounts: {{total_serviceAccount}}</i></b></div></div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="secrets" id="secrets" checked> 
                <label class="form-check-label" for="secrets"> Secrets</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colNamepsace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colSecrets">SECRETS</th>
          <th id="colAge">AGE</th>
        </tr>
      </thead>

      <tbody>
      {% for sa in serviceAccount %}
        <tr>
          <td>{{ sa.namespace }}</td>
          <td><a href="/{{current_cluster}}/sa/{{sa.namespace}}/{{sa.name}}?cluster_id={{cluster_id}}">{{ sa.name }}</a></td>
          <td>{{ sa.secrets }}</td>
          <td>{{ sa.age }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>

{% endblock %}
