# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
buddyenv/
# Django
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles
*/migrations
*.pot
*.pyc
/logs
# Environment Variables
.env
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Test and Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
test.py

# Backup files
*~
*.bak
*.orig

# Jupyter Notebooks
.ipynb_checkpoints

# Others
*.log
*.pot