{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Namespaces{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/ns-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Cluster Management Tabs">
      <a href="/{{current_cluster}}/namespace?cluster_id={{cluster_id}}" class="btn btn-primary active" id="namespaces-tab">Namespace</a>
      <a href="/{{current_cluster}}/nodes?cluster_id={{cluster_id}}" class="btn btn-primary" id="nodes-tab">Nodes</a>
      <a href="/{{current_cluster}}/pdb?cluster_id={{cluster_id}}" class="btn btn-primary" id="pdb-tab">PodDisruptionBudget</a>
      <a href="/{{current_cluster}}/limitrange?cluster_id={{cluster_id}}" class="btn btn-primary" id="limitrange-tab">LimitRange</a>
      <a href="/{{current_cluster}}/resourcequotas?cluster_id={{cluster_id}}" class="btn btn-primary" id="resourcequotas-tab">Resource Quota</a>
    </div>
  </div>
  {% if namespaces_count == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Namespace Found.
    </div>
  {% else %}
  <div class="tab-content">
    <div class="tab-pane fade show active" id="namespaces">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Namespaces: {{namespaces_count}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search namespaces...">
      </div>
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Status" id="Status" checked> 
                <label class="form-check-label" for="Status"> Status</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Labels" id="Labels" checked> 
                <label class="form-check-label" for="Labels"> Labels</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
                <label class="form-check-label" for="Age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colStatus">STATUS</th>
          <th class="sortable" id="colLabels">LABELS</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for namespace in namespaces %}
        <tr>
          <td>
            <a href="/{{current_cluster}}/namespace/{{namespace.name}}?cluster_id={{cluster_id}}">
                {{ namespace.name }}
            </a>
          </td>
          <td>{{ namespace.status }}</td>
          <td>{{ namespace.labels }}</td>
          <td>{{ namespace.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/namespace/{{namespace.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/namespace/{{namespace.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/namespace/{{namespace.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
<script src="{% static 'js/graph.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
          renderGaugeChart("gaugeChart", {
            "Total": {{namespaces_count}}
          }, 'Namespace');
  });
</script>
{% endblock %}
