{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Nodes{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/infrastructure_components/unlabeled/node-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="container border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="row mb-0">
      <div class="col-md-3 align-items-center justify-content-evenly mx-auto">
        <div class="grid-box flex-fill stats-card bg-primary "><b><i>Total Nodes: {{total_nodes}}</i></b></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
        <div class="grid-box stats-card bg-success text-center p-3 w-100 m-2"><b><i>Ready: {{ready_nodes}}</i></b></div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center p-3">
        <div class="grid-box d-flex align-items-center justify-content-center p-1 w-100" style="min-height: 200px;">
            <canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas>
        </div>
    </div>
      <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
        <div class="grid-box stats-card bg-danger text-center p-3 w-100 m-2"><b><i>Not Ready: {{not_ready_nodes}}</i></b></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search nodes...">
        </div>
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Status" id="Status" checked> 
                <label class="form-check-label" for="Status"> Status</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Roles" id="Roles" checked> 
                <label class="form-check-label" for="Roles"> Roles</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
                <label class="form-check-label" for="Age"> Age</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Version" id="Version" checked> 
                <label class="form-check-label" for="Version"> Version</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="InternalIP" id="InternalIP" checked> 
                <label class="form-check-label" for="InternalIP"> InternalIP</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="ExternalIP" id="ExternalIP" checked> 
                <label class="form-check-label" for="ExternalIP"> ExternalIP</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="OSImage" id="OSImage" checked> 
                <label class="form-check-label" for="OSImage"> OS-Image</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="KernelVersion" id="KernelVersion" checked> 
                <label class="form-check-label" for="KernelVersion"> Kernel Version</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="ContainerRuntime" id="ContainerRuntime" checked> 
                <label class="form-check-label" for="ContainerRuntime">Container Runtime</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Taints" id="Taints" checked> 
                <label class="form-check-label" for="Taints">Taints</label>
            </li>
        </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th id="colName">NAME</th>
          <th id="colStatus">STATUS</th>
          <th id="colRoles">ROLES</th>
          <th id="colAge">AGE</th>
          <th id="colVersion">VERSION</th>
          <th id="colInternalIP">INTERNAL-IP</th>
          <th id="colExternalIP">EXTERNAL-IP</th>
          <th id="colOSImage">OS-IMAGE</th>
          <th id="colKernelVersion">KERNEL-VERSION</th>
          <th id="colContainerRuntime">CONTAINER-RUNTIME</th>
          <th id="colTaints">TAINTS</th>
          <th id="colActions"></th>
        </tr>
      </thead>
      <tbody>
      {% for node in nodes %}
          <tr>
          <td>
            <a href="/{{current_cluster}}/nodes/{{node.name}}?cluster_id={{cluster_id}}">
                {{ node.name }}
            </a>
          </td>
          <td>{{ node.status }}</td>
          <td>{{node.roles}}</td>
          <td>{{ node.age }}</td>
          <td>{{ node.version }}</td>
          <td>{{ node.internal_ip }}</td>
          <td>{{ node.external_ip }}</td>
          <td>{{ node.os_image }}</td>
          <td>{{ node.kernel_version }}</td>
          <td>{{ node.container_runtime }}</td>
          <td>{{ node.taints }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/nodes/{{node.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/nodes/{{node.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/nodes/{{node.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
<script src="{% static 'js/graph.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
          renderGaugeChart("gaugeChart", {
              "Ready": {{ready_nodes}}, "Not Ready": {{not_ready_nodes}}
          }, 'Nodes');
  });
</script>
{% endblock %}

