{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Resource Quota{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/quota-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Cluster Management Tabs">
      <a href="/{{cluster_id}}/namespace?cluster_id={{cluster_id}}" class="btn btn-primary" id="namespaces-tab">Namespaces</a>
      <a href="/{{cluster_id}}/nodes?cluster_id={{cluster_id}}" class="btn btn-primary" id="nodes-tab">Nodes</a>
      <a href="/{{cluster_id}}/pdb?cluster_id={{cluster_id}}" class="btn btn-primary" id="pdb-tab">Pod Disruption Budgets</a>
      <a href="/{{cluster_id}}/limitrange?cluster_id={{cluster_id}}" class="btn btn-primary" id="limitrange-tab">Limit Ranges</a>
      <a href="/{{cluster_id}}/resourcequotas?cluster_id={{cluster_id}}" class="btn btn-primary active" id="resourcequotas-tab">Resource Quotas</a>
    </div>
  </div>
  {% if total_quotas == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Resource Quotas Found.
    </div>
  {% else %}
  <div class="tab-content border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="tab-pane fade show active" id="resourcequotas">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Resource Quotas: {{total_quotas}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>  
  </div>

  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      <div class="d-flex">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Namespaces
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
              <li>
                  <input type="checkbox" id="allNamespaces" class="form-check-input" onclick="toggleAllNamespaces()">
                  <label for="allNamespaces">All Namespaces</label>
              </li>
              <hr>
              {% for ns in namespaces %}
              <li>
                  <input type="checkbox" class="namespace-checkbox form-check-input" value="{{ ns }}" onclick="namespaceHandler()">
                  <label>{{ ns }}</label>
              </li>
              {% endfor %}
          </ul>
        </div>

        <div class="mx-3">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search resource quotas...">
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
          Select Columns to Display
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
              <label class="form-check-label" for="All"> All</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
              <label class="form-check-label" for="Namespace"> Namespace</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
              <label class="form-check-label" for="Name"> Name</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="requests" id="requests" checked> 
              <label class="form-check-label" for="requests"> Requests</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="limits" id="limits" checked> 
              <label class="form-check-label" for="limits"> Limits</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
              <label class="form-check-label" for="age"> Age</label>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colNamespace">NAMESPACE</th>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colRequests">REQUESTS</th>
          <th class="sortable" id="colLimits">LIMITS</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for q in resourcequotas %}
        <tr>
          <td>{{ q.namespace }}</td>
          <td>
            <a href="/{{cluster_id}}/resourcequotas/{{q.namespace}}/{{q.name}}?cluster_id={{cluster_id}}">
                {{ q.name }}
            </a>
          </td>
          <td>{{q.pods}}, {{ q.requests }}</td>
          <td>{{ q.limits }}</td>
          <td>{{ q.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{cluster_id}}/resourcequotas/{{q.namespace}}/{{q.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/resourcequotas/{{q.namespace}}/{{q.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/resourcequotas/{{q.namespace}}/{{q.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
<script src="{% static 'js/namespaceFilter.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
          renderGaugeChart("gaugeChart", {
            "Total": {{total_quotas}}
          }, 'Resource Quotas');
  });
</script>
{% endblock %}
