{% extends 'dashboard/base.html' %}

{% block title %}Endpoints{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/ep-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-3"><div class="stats-card bg-primary"><b><i>Total Endpoints: {{total_endpoints}}</i></b></div></div>
    <!-- <div class="col-md-2"><div class="stats-card bg-success"><b><i>Running: {{dep_status.Running}}</i></b></div></div>
    <div class="col-md-2"><div class="stats-card bg-warning"><b><i>Pending: {{dep_status.Pending}}</i></b></div></div> -->
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Endpoints" id="Endpoints" checked> 
              <label class="form-check-label" for="Endpoints"> Endpoints</label>
          </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
              <label class="form-check-label" for="Age"> Age</label>
          </li>
            
        </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colNamespace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colKeys">ENDPOINTS</th>
          <th id="colAge">AGE</th>
        </tr>
      </thead>

      <tbody>
      {% for ep in endpoints %}
        <tr>
          <td>{{ ep.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/endpoints/{{ep.namespace}}/{{ep.name}}?cluster_id={{cluster_id}}">
                {{ ep.name }}
            </a>
        </td>
          <td>{{ ep.endpoints }}</td>
          <td>{{ ep.age }}</td>
          
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>

{% endblock %}
