{% extends 'dashboard/base.html' %}

{% block title %}Services{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/svc-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/svc-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Service: {{ service_name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                    <pre>
<b>Name:</b> {{ service_info.describe.name }}
<b>Namespace:</b> {{ service_info.describe.namespace }}
<b>Type:</b> {{ service_info.describe.type }}
<b>Cluster IP:</b> {{ service_info.describe.cluster_ip }}
<b>Ports:</b>{% for port in service_info.describe.ports %}
<b>Name:</b> {{ port.name }}
<b>Protocol:</b> {{ port.protocol }}
<b>Port:</b> {{ port.port }}
<b>Target Port:</b> {{ port.target_port }}
<b>Node Port:</b> {% if port.node_port != "N/A" %}{{ port.node_port }}{% else %}N/A{% endif %}{% endfor %}
<b>Selector:</b> {% if service_info.describe.selector %}{% for key, value in service_info.describe.selector.items %}{{ key }}: {{ value }}{% endfor %}{% else %}N/A{% endif %}
<b>External IPs:</b> {% if service_info.describe.external_ips %} {% for ip in service_info.describe.external_ips %}{{ ip }}{% endfor %}{% else %}N/A{% endif %}
<b>Load Balancer IP:</b> {% if service_info.describe.load_balancer_ip != "N/A" %}{{ service_info.describe.load_balancer_ip }}{% else %}N/A{% endif %}
                    </pre>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ service_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                
                    <pre id="yamlContent">{{ service_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/services?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Services</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
