{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Service{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/svc-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex align-items-center justify-content-around">
    <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Services: {{total_services}}</i></b></div>
    <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3 d-flex justify-content-between">
      <!-- New dropdown (namespaces) -->
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}          
        </ul>
      </div>

        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Type" id="Type" checked> 
              <label class="form-check-label" for="Type"> Type</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="ClusterIP" id="ClusterIP" checked> 
              <label class="form-check-label" for="ClusterIP"> Cluster-IP</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="ExternalIP" id="ExternalIP" checked> 
              <label class="form-check-label" for="ExternalIP"> External-IP</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Ports" id="Ports" checked> 
              <label class="form-check-label" for="Ports"> Ports</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
              <label class="form-check-label" for="Age"> Age</label>
          </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Selector" id="Selector" checked> 
              <label class="form-check-label" for="Selector"> Selector</label>
          </li>
            
        </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colNamespace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colType">TYPE</th>
          <th id="colClusterIP">CLUSTER-IP</th>
          <th id="colExternalIP">EXTERNAL-IP</th>
          <th id="colPorts">PORTS</th>
          <th id="colAge">AGE</th>
          <th id="colSelector">SELECTOR</th>
        </tr>
      </thead>

      <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.namespace }}</td>
            <td>
              <a href="/{{current_cluster}}/services/{{service.namespace}}/{{service.name}}?cluster_id={{cluster_id}}">
                  {{ service.name }}
              </a>
          </td>
            <td>{{ service.type }}</td>
            <td>{{ service.cluster_ip }}</td>
            <td>{{ service.external_ip }}</td>
            <td>{{ service.ports }}</td>
            <td>{{ service.age }}</td>
            <td>{{ service.selector }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
<script src="{% static 'js/namespaceFilter.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
          renderGaugeChart("gaugeChart", {
            "Total": {{total_services}}
          }, 'Service');
  });
</script>
{% endblock %}
