{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Node Metrics{% endblock %}

{% block favicon %}https://cdn-icons-png.flaticon.com/512/18510/18510277.png{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Metrics Tabs">
      <a href="/{{cluster_id}}/pod_metrics?cluster_id={{cluster_id}}" class="btn btn-primary" id="podmetrics-tab">Pod Metrics</a>
      <a href="/{{cluster_id}}/node_metrics?cluster_id={{cluster_id}}" class="btn btn-primary active" id="nodemetrics-tab">Node Metrics</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="nodemetrics">
      {% if metrics_available %}
      <div class="row text-center">
        <div class="col-md-3"><div class="stats-card bg-primary"><b><i>Total Nodes: {{ total_nodes }}</i></b></div></div>
      </div>
      {% else %}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Metrics Not Available!</h4>
        <p>The Kubernetes Metrics API is not available or not responding. Please ensure the metrics-server is installed and functioning in your cluster.</p>
        {% if error_message %}
        <hr>
        <p class="mb-0">Error details: {{ error_message }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  
  {% if metrics_available %}
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control" placeholder="Search metrics...">
        </div>
      
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name">Name</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="cpu_cores" id="cpu_cores" checked> 
              <label class="form-check-label" for="cpu_cores"> CPU (cores)</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="cpu%" id="cpu%" checked> 
              <label class="form-check-label" for="cpu%"> CPU %</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Memory_bytes" id="Memory_bytes" checked> 
              <label class="form-check-label" for="Memory_bytes"> Memory (bytes)</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Memory%" id="Memory%" checked> 
              <label class="form-check-label" for="Memory%"> Memory %</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Error" id="Error" checked> 
              <label class="form-check-label" for="Error"> Error</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colcpu_cores">CPU (cores)</th>
          <th class="sortable" id="colcpu_percent">CPU %</th>
          <th class="sortable" id="colMemory_bytes">Memory (bytes)</th>
          <th class="sortable" id="colMemory_percent">Memory %</th>
          <th class="sortable" id="error">Error</th>
        </tr>
      </thead>

      <tbody>
      {% for node in node_metrics %}
        <tr>
          <td>{{ node.name }}</td>
          <td>{{ node.cpu_cores }}</td>
          <td>{{ node.cpu_usage_percentage }} %</td>
          <td>{{ node.memory_mi }} Mi</td>
          <td>{{ node.memory_usage_percentage }} %</td>
          <td>{{ node.error }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  {% endif %}
{% endblock %}