{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Pod Metrics{% endblock %}

{% block favicon %}https://cdn-icons-png.flaticon.com/512/18510/18510277.png{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Metrics Tabs">
      <a href="/{{current_cluster}}/pod_metrics?cluster_id={{cluster_id}}" class="btn btn-primary active" id="podmetrics-tab">Pod Metrics</a>
      <a href="/{{current_cluster}}/node_metrics?cluster_id={{cluster_id}}" class="btn btn-primary" id="nodemetrics-tab">Node Metrics</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="podmetrics">
      <div class="row text-center">
        <div class="col-md-3"><div class="stats-card bg-primary"><b><i>Total Pods: {{ total_pods}}</i></b></div></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3 d-flex justify-content-between">
      <!-- New dropdown (namespaces) -->
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}          
        </ul>
      </div>

        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="cpu" id="cpu" checked> 
                <label class="form-check-label" for="cpu"> CPU</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Memory" id="Memory" checked> 
              <label class="form-check-label" for="Memory"> Memory</label>
          </li>
          <li>
            <input class="form-check-input column-checkbox" type="checkbox" value="Error" id="Error"> 
            <label class="form-check-label" for="Error"> Error</label>
        </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colNamepsace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colcpu">CPU</th>
          <th id="colMemory">Memory</th>
          <th id="colError">Error</th>
        </tr>
      </thead>

      <tbody>
      {% for pod in all_pod_metrics %}
      <tr>
        <td>{{ pod.namespace }}</td>
        <td>{{ pod.name }}</td>
        <td>{{ pod.cpu_usage_milli }} m</td>
        <td>{{ pod.memory_usage_mi }} Mi</td>
        <td>{{ pod.error }}</td>
    </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  <script src="{% static 'js/namespaceFilter.js' %}"></script>

{% endblock %}
