* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.cluster-card {
    display: flex;
    background: white;
    padding: 10px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid transparent;
}
.cluster-sidebar {
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background: #f8f9fa;
    text-align: left;
}
.cluster-details {
    margin-top: 20px;
}
.cluster-details div {
    margin: 10px 0;
}
.cluster-charts {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cluster-chart-container{
    width: 10px;
    height: 10px;
}