{% extends 'dashboard/base.html' %}

{% block title %}Netowrk Policy{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/netpol-128.png?raw=true {% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://cdn-icons-png.flaticon.com/512/18015/18015441.png" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Network Policy: {{ np_info.describe.name }}</h2>
        </div>


        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                    <pre>
<b>Name:</b> {{ np_info.describe.name }}
<b>Namespace:</b> {{ np_info.describe.namespace }}
<b>Selector</b> {{np_info.describe.selector}}
<b>Spec:</b>
    PodSelector: {{ np_info.describe.spec.pod_selector }}
    Allowing ingress traffic:{% if np_info.describe.spec.ingress %} {{np_info.describe.spec.ingress}} {% else %} &lt;none&gt; {% endif %}
    Allowing egress traffic:{% if np_info.describe.spec.egress %} {{np_info.describe.spec.egress}} {% else %} &lt;none&gt; {% endif %}
    Policy Types:{% if np_info.describe.spec.policy_types %} {{np_info.describe.spec.policy_types}} {% else %} &lt;none&gt; {% endif %}
                    </pre>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ np_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                
                    <pre id="yamlContent">{{ np_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/np?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Network Policy</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
