{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Secrets{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/secret-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Config & Secrets Tabs">
      <a href="/{{current_cluster}}/configmaps?cluster_id={{cluster_id}}" class="btn btn-primary" id="configmaps-tab">ConfigMaps</a>
      <a href="/{{current_cluster}}/secrets?cluster_id={{cluster_id}}" class="btn btn-primary active" id="secrets-tab">Secrets</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="secrets">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Secrets: {{total_secrets}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      <div class="d-flex">
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}      
        </ul>
      </div>

      <div class="mx-3">
        <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search secrets...">
      </div>
    </div>

        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Type" id="Type" checked> 
                <label class="form-check-label" for="Type"> Type</label>
            </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Data" id="Data" checked> 
              <label class="form-check-label" for="Data"> Data</label>
          </li>
            <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
              <label class="form-check-label" for="Age"> Age</label>
          </li>
            
        </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colNamespace">NAMESPACE</th>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colKeys">TYPE</th>
          <th class="sortable" id="colData">DATA</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for secret in secrets %}
        <tr>
          <td>{{ secret.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/secrets/{{secret.namespace}}/{{secret.name}}?cluster_id={{cluster_id}}">
                {{ secret.name }}
            </a>
          </td>
          <td>{{ secret.type }}</td>
          <td>{{ secret.data}}</td>
          <td>{{ secret.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/secrets/{{secret.namespace}}/{{secret.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/secrets/{{secret.namespace}}/{{secret.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/secrets/{{secret.namespace}}/{{secret.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_secrets}}
            }, 'Secret');
    });
  </script>
{% endblock %}
