{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Persistent Volumes{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pv-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Persistent Storage Tabs">
      <a href="/{{current_cluster}}/pv?cluster_id={{cluster_id}}" class="btn btn-primary active" id="pv-tab">Persistent Volumes</a>
      <a href="/{{current_cluster}}/pvc?cluster_id={{cluster_id}}" class="btn btn-primary" id="pvc-tab">Persistent Volume Claims</a>
      <a href="/{{current_cluster}}/storageclass?cluster_id={{cluster_id}}" class="btn btn-primary" id="storageclass-tab">Storage Classes</a>
    </div>
  </div>
  {% if total_pvs == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Persistent Volumes Found.
    </div>
  {% else %}
  <div class="tab-content border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="tab-pane fade show active" id="pv">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Persistent Volumes: {{total_pvs}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search pv...">
        </div>
        <div class="dropdown d-flex justify-content-end align-items-center">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="capacity" id="capacity" checked> 
                <label class="form-check-label" for="capacity"> Capacity</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="accessmodes" id="accessmodes" checked> 
                <label class="form-check-label" for="accessmodes"> Access Modes</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="reclaimpolicy" id="reclaimpolicy" checked> 
                <label class="form-check-label" for="reclaimpolicy"> Reclaim Policy</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="status" id="status" checked> 
                <label class="form-check-label" for="status"> Status</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="claim" id="claim" checked> 
                <label class="form-check-label" for="claim"> Claim</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="storageclass" id="storageclass" checked> 
                <label class="form-check-label" for="storageclass"> Storage Class</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="volumemode" id="volumemode" checked> 
                <label class="form-check-label" for="volumemode"> Volume Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colCapacity">CAPACITY</th>
          <th class="sortable" id="colAccessModes">ACCESS MODES</th>
          <th class="sortable" id="colReclaimPolicy">RECLAIM POLICY</th>
          <th class="sortable" id="colStatus">STATUS</th>
          <th class="sortable" id="colClaim">CLAIM</th>
          <th class="sortable" id="colStorageClass">STORAGE CLASS</th>
          <th class="sortable" id="colMode">VOLUME MODE</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for pv in pvs %}
        <tr>
          <td>
            <a href="/{{current_cluster}}/pv/{{pv.name}}?cluster_id={{cluster_id}}">
                {{ pv.name }}
            </a>
          </td>
          <td>{{ pv.capacity }}</td>
          <td>{{ pv.access_modes }}</td>
          <td>{{ pv.reclaim_policy }}</td>
          <td>{{ pv.status }}</td>
          <td>
            {% if pv.claim == "-" %}
            {{pv.claim}}
            {% else %}
            <a href="/{{current_cluster}}/pvc/{{pv.namespace}}/{{pv.claim_name}}?cluster_id={{cluster_id}}">
              {{pv.claim}}
            </a>
            {% endif %}
          </td>
          <td>{{ pv.storage_class }}</td>
          <td>{{ pv.volume_mode }}</td>
          <td>{{ pv.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/pvc/{{pv.namespace}}/{{pv.claim_name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pvc/{{pv.namespace}}/{{pv.claim_name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pvc/{{pv.namespace}}/{{pv.claim_name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_pvs}}
            }, 'Persistent Volumes');
    });
  </script>
{% endblock %}
