{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Persistent Volume Claims{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pvc-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Persistent Storage Tabs">
      <a href="/{{cluster_id}}/pv?cluster_id={{cluster_id}}" class="btn btn-primary" id="pv-tab">Persistent Volumes</a>
      <a href="/{{cluster_id}}/pvc?cluster_id={{cluster_id}}" class="btn btn-primary active" id="pvc-tab">Persistent Volume Claims</a>
      <a href="/{{cluster_id}}/storageclass?cluster_id={{cluster_id}}" class="btn btn-primary" id="storageclass-tab">Storage Classes</a>
    </div>
  </div>
  {% if total_pvc == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Persistent Volume Claims Found.
    </div>
  {% else %}
  <div class="tab-content border border-3 rounded-2 border-secondary-subtle p-4 m-3">
    <div class="tab-pane fade show active" id="pvc">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-4"><b><i>Total Persistent Volume Claims: {{total_pvc}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      {% include 'dashboard/ns_dropdown.html'%}

      <div class="mx-3">
        <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search pvc...">
      </div>
    </div>

        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="status" id="status" checked> 
                <label class="form-check-label" for="status"> Status</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="volume" id="volume" checked> 
                <label class="form-check-label" for="volume"> Volume</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="capacity" id="capacity" checked> 
                <label class="form-check-label" for="capacity"> Capacity</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="access mode" id="access mode" checked> 
                <label class="form-check-label" for="access mode"> Access Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="storage class" id="storage class" checked> 
                <label class="form-check-label" for="storage class"> Storage Class</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="usedby" id="usedby" checked> 
                <label class="form-check-label" for="usedby"> Used By</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="volume mode" id="volume mode" checked> 
                <label class="form-check-label" for="volume mode"> Volume Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colNamepsace">NAMESPACE</th>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colStatus">STATUS</th>
          <th class="sortable" id="colVolume">VOLUME</th>
          <th class="sortable" id="colCapacity">CAPACITY</th>
          <th class="sortable" id="colAccessMode">ACCESS MODE</th>
          <th class="sortable" id="colStorageClass">STORAGE CLASS</th>
          <th class="sortable" id="colUsedBy">USED BY</th>
          <th class="sortable" id="colVolumeMode">VOLUME MODE</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for p in pvc %}
        <tr>
          <td>{{ p.namespace }}</td>
          <td>
            <a href="/{{cluster_id}}/pvc/{{p.namespace}}/{{p.name}}?cluster_id={{cluster_id}}">
                {{ p.name }}
            </a>
          </td>
          <td>{{ p.status }}</td>
          <td>
            <a href="/{{cluster_id}}/pv/{{p.volume}}?cluster_id={{cluster_id}}">
                {{ p.volume }}
            </a>
          </td>
          <td>{{ p.capacity }}</td>
          <td>{{ p.access_modes }}</td>
          <td>{{ p.storage_class }}</td>
          <td>{{ p.used_by }}</td>
          <td>{{ p.volume_mode }}</td>
          <td>{{ p.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{cluster_id}}/pv/{{p.volume}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/pv/{{p.volume}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{cluster_id}}/pv/{{p.volume}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_pvc}}
            }, 'Persistent Volume Claims');
    });
  </script>
{% endblock %}
