{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Persistent Volume Claim{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pvc-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Persistent Storage Tabs">
      <a href="/{{current_cluster}}/pv?cluster_id={{cluster_id}}" class="btn btn-primary" id="pv-tab">PersistentVolume</a>
      <a href="/{{current_cluster}}/pvc?cluster_id={{cluster_id}}" class="btn btn-primary active" id="pvc-tab">PersistentVolumeClaim</a>
      <a href="/{{current_cluster}}/storageclass?cluster_id={{cluster_id}}" class="btn btn-primary" id="storageclass-tab">StorageClass</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="pvc">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Persistent Volume Claims: {{total_pvc}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="mb-1 d-flex justify-content-between">
      <div class="d-flex">
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          All Namespaces
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
        <li class="dropdown-item" onclick="namespaceHandler(event)">All Namespaces</li>
        {% for ns in namespaces %}
        <li class="dropdown-item" onclick="namespaceHandler(event)">{{ns}}</li>
        {% endfor %}      
        </ul>
      </div>

      <div class="mx-3">
        <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search claims...">
      </div>
    </div>

        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="status" id="status" checked> 
                <label class="form-check-label" for="status"> Status</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="volume" id="volume" checked> 
                <label class="form-check-label" for="volume"> Volume</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="capacity" id="capacity" checked> 
                <label class="form-check-label" for="capacity"> Capacity</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="access mode" id="access mode" checked> 
                <label class="form-check-label" for="access mode"> Access Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="storage class" id="storage class" checked> 
                <label class="form-check-label" for="storage class"> Storage Class</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="usedby" id="usedby" checked> 
                <label class="form-check-label" for="usedby"> Used By</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="volume mode" id="volume mode" checked> 
                <label class="form-check-label" for="volume mode"> Volume Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th id="colNamepsace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colStatus">STATUS</th>
          <th id="colVolume">VOLUME</th>
          <th id="colCapacity">CAPACITY</th>
          <th id="colAccessMode">ACCESS MODE</th>
          <th id="colStorageClass">STORAGE CLASS</th>
          <th id="colUsedBy">USED BY</th>
          <th id="colVolumeMode">VOLUME MODE</th>
          <th id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for p in pvc %}
        <tr>
          <td>{{ p.namespace }}</td>
          <td>
            <a href="/{{current_cluster}}/pvc/{{p.namespace}}/{{p.name}}?cluster_id={{cluster_id}}">
                {{ p.name }}
            </a>
          </td>
          <td>{{ p.status }}</td>
          <td>
            <a href="/{{current_cluster}}/pv/{{p.volume}}?cluster_id={{cluster_id}}">
                {{ p.volume }}
            </a>
          </td>
          <td>{{ p.capacity }}</td>
          <td>{{ p.access_modes }}</td>
          <td>{{ p.storage_class }}</td>
          <td>{{ p.used_by }}</td>
          <td>{{ p.volume_mode }}</td>
          <td>{{ p.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/pv/{{p.volume}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pv/{{p.volume}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/pv/{{p.volume}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  <script src="{% static 'js/namespaceFilter.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_pvc}}
            }, 'PersistentVolumeClaim');
    });
  </script>
{% endblock %}
