{% extends 'dashboard/base.html' %}

{% block title %}Persistent Volume {% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pv-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pvc-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Persistent Volume: {{ pv_name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="edit-tab" data-bs-toggle="tab" href="#edit">Edit</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name:</b> {{ pv_info.describe.Name }}
<b>Labels:</b>{% if pv_info.describe.Labels %}{% for k, v in pv_info.describe.Labels.items %}{{ k }}={{ v }} <br>       {% endfor %}{% else %} &lt;none&gt; {% endif %}
<b>Annotations:</b>{% if pv_info.describe.Annotations %}{% for k, v in pv_info.describe.Annotations.items %}{{ k }}: {{ v }} <br>            {% endfor %}{% else %}&lt;none&gt;{% endif %}
<b>Finalizers:</b>{% if pv_info.describe.Finalizers %}{{ pv_info.describe.Finalizers }}{% else %}&lt;none&gt;{% endif %}
<b>StorageClass:</b> {{ pv_info.describe.StorageClass }}
<b>Status:</b> {{ pv_info.describe.Status }}
<b>Claim:</b> {{ pv_info.describe.Claim }}
<b>Reclaim Policy:</b> {{ pv_info.describe.reclaim_policy }}
<b>Access Modes:</b> {% if pv_info.describe.Access_Modes %}{% for mode in pv_info.describe.Access_Modes %}{{ mode }}{% endfor %}{% else %}&lt;none&gt;{% endif %}
<b>VolumeMode:</b> {{ pv_info.describe.VolumeMode }}
<b>Capacity:</b> {{ pv_info.describe.Capacity }}
<b>Node Affinity:</b>{% if pv_info.describe.Node_Affinity %}{{ pv_info.describe.Node_Affinity|pprint }} {% else %}&lt;none&gt;{% endif %}
<b>Message:</b> {{ pv_info.describe.Message }}
<b>Source:</b>{% if pv_info.describe.Source %}{% for k, v in pv_info.describe.Source.items %}
    {{ k }}: {{ v }} {% endfor %}{% else %}
    &lt;none&gt;{% endif %}
                    </pre>
                </div>
              </div>
            
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if pv_info.events %}{{ pv_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                <pre id="yamlContent">{{ pv_info.yaml }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="edit">
                <!-- Modal for YAML changes -->
                {% if pv_info.show_modal %}
                <div class="alert alert-success">
                    <div>
                        {{pv_info.message}}
                    </div>
                        <ul>
                        {% for changes in pv_info.changes %}
                            <li>{{changes}}</li>
                        {% endfor %}
                        </ul>
                </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <textarea name="pv_yaml" id="pv_yaml" class="form-control" rows="25" spellcheck="false">{{ pv_info.edit }}</textarea>
                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                </form>
            </div>
        </div>
        <a href="/{{cluster_id}}/pv?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to PVs</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
