{% extends 'dashboard/base.html' %}

{% block title %}Storage Class{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sc-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sc-128.png?raw=true" style="height: 5vh;" alt="ds">
            <h2 class="mb-4 ps-3 text-primary">Storage Class: {{ sc_info.describe.name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto describe">
                    <pre>
<b>Name:</b> {{ sc_info.describe.name }}
<b>IsDefaultClass:</b> {{ sc_info.describe.is_default_class }}
<b>Annotations:</b> {{ sc_info.describe.annotations }}
<b>Provisioner:</b> {{ sc_info.describe.provisioner }}
<b>Parameters:</b> {% if sc_info.describe.parameters %}{{ sc_info.describe.parameters }}{% else %} &lt;none&gt;{% endif %}
<b>AllowVolumeExpansion:</b> {% if sc_info.describe.allow_volume_expansion %}{{ sc_info.describe.allow_volume_expansion }}{% else %}&lt;unset&gt;{% endif %}
<b>MountOptions:</b> {% if sc_info.describe.mount_options %}{{ sc_info.describe.mount_options }}{% else %}&lt;none&gt;{% endif %}
<b>ReclaimPolicy:</b> {{ sc_info.describe.reclaim_policy }}
<b>VolumeBindingMode:</b> {{ sc_info.describe.volume_binding_mode }}
                    </pre>
                </div>
              </div>
              

            <div class="tab-pane fade" id="events">
                <div class="overflow-auto describe">
                    <pre>{% if sc_info.events %}{{ sc_info.events }}{% else %}&lt;none&gt;{% endif %}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto describe">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    <pre id="yamlContent">{{ sc_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/storageclass?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Storage Classes</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
