{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Storage Class{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/sc-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <div class="gap" role="group" aria-label="Persistent Storage Tabs">
      <a href="/{{current_cluster}}/pv?cluster_id={{cluster_id}}" class="btn btn-primary" id="pv-tab">PersistentVolume</a>
      <a href="/{{current_cluster}}/pvc?cluster_id={{cluster_id}}" class="btn btn-primary" id="pvc-tab">PersistentVolumeClaim</a>
      <a href="/{{current_cluster}}/storageclass?cluster_id={{cluster_id}}" class="btn btn-primary active" id="storageclass-tab">StorageClass</a>
    </div>
  </div>
  {% if total_sc == 0 %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Storageclass Found.
    </div>
  {% else %}
  <div class="tab-content">
    <div class="tab-pane fade show active" id="storageclass">
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="stats-card bg-primary p-3 col-md-3"><b><i>Total Storage Classes: {{total_sc}}</i></b></div>
        <div><canvas id="gaugeChart" style="max-width: 100%; max-height: 100%;"></canvas></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
      <div class="mb-1 d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search classes...">
        </div>
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Provisioner" id="Provisioner" checked> 
                <label class="form-check-label" for="Provisioner"> Provisoner</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="reclaimPolicy" id="reclaimPolicy" checked> 
                <label class="form-check-label" for="reclaimPolicy"> Reclaim Policy</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="VolumeBindingMode" id="VolumeBindingMode" checked> 
                <label class="form-check-label" for="VolumeBindingMode"> Volume Binding Mode</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="isDefault" id="isDefault" checked> 
                <label class="form-check-label" for="isDefault"> Is Default</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="age" id="age" checked> 
                <label class="form-check-label" for="age"> Age</label>
            </li>
        </ul>
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px;">
      <thead class="table-dark">
        <tr>
          <th class="sortable" id="colName">NAME</th>
          <th class="sortable" id="colProvisoner">PROVISIONER</th>
          <th class="sortable" id="colReclaimPolicy">RECLAIM POLICY</th>
          <th class="sortable" id="colVolumeBindingMode">VOLUME BINDING MODE</th>
          <th class="sortable" id="colIsDefault">IS DEFAULT</th>
          <th class="sortable" id="colAge">AGE</th>
          <th id="colActions"></th>
        </tr>
      </thead>

      <tbody>
      {% for c in sc %}
        <tr>
          <td><a href="/{{current_cluster}}/sc/{{c.name}}?cluster_id={{cluster_id}}">{{ c.name }}</a></td>
          <td>{{ c.provisioner }}</td>
          <td>{{ c.reclaimPolicy }}</td>
          <td>{{ c.volumeBindingMode }}</td>
          <td>{{ c.isDefault }}</td>
          <td>{{ c.age }}</td>
          <td id="actionElement">
            <div class="dropup">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/{{current_cluster}}/sc/{{c.name}}?cluster_id={{cluster_id}}">Describe</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/sc/{{c.name}}?cluster_id={{cluster_id}}#events">Events</a></li>
                <li><a class="dropdown-item" href="/{{current_cluster}}/sc/{{c.name}}?cluster_id={{cluster_id}}#yaml">YAML</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endif %}
  <script src="{% static 'js/graph.js' %}"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
            renderGaugeChart("gaugeChart", {
              "Total": {{total_sc}}
            }, 'StorageClass');
    });
  </script>
{% endblock %}
