{% extends 'dashboard/base.html' %}

{% block title %}DaemonSet{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/ds-128.png?raw=true{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-3"><div class="stats-card bg-primary"><b><i>Total DaemonSet: {{daemonset_status.Count}}</i></b></div></div>
    <div class="col-md-2"><div class="stats-card bg-success"><b><i>Running: {{daemonset_status.Running}}</i></b></div></div>
    <div class="col-md-2"><div class="stats-card bg-warning"><b><i>Pending: {{daemonset_status.Pending}}</i></b></div></div>
  </div>
  
  <div class="container">
    <!-- Dropdown with checkboxes to select columns -->
    <div class="mb-3">
        <div class="dropdown d-flex justify-content-end">
          <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
            Select Columns to Display
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                <label class="form-check-label" for="All"> All</label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                <label class="form-check-label" for="Namespace"> Namespace </label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Name" id="Name" checked> 
                <label class="form-check-label" for="Name"> Name </label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Desired" id="Desired" checked> 
                <label class="form-check-label" for="Desired"> Desired </label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Current" id="Current" checked> 
                <label class="form-check-label" for="Current"> Current </label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Ready" id="Ready" checked> 
                <label class="form-check-label" for="Ready"> Ready </label>
            </li>
            <li>
                <input class="form-check-input column-checkbox" type="checkbox" value="Age" id="Age" checked> 
                <label class="form-check-label" for="Age"> Age </label>
            </li>
        </ul>
        
        </div>
    </div>
  
    <!-- Table -->
    <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
      <thead class="table-dark">
        <tr>
          <th id="colNamespace">NAMESPACE</th>
          <th id="colName">NAME</th>
          <th id="colDesired">DESIRED</th>
          <th id="colCurrent">CURRENT</th>
          <th id="colReady">READY</th>
          <th id="colAge">AGE</th>
        </tr>
      </thead>

      <tbody>
      {% for daemonset in daemonset_list %}
        <tr>
          <td>{{ daemonset.namespace }}</td>
          <td>{{ daemonset.name }}</td>
          <td>{{ daemonset.desired }}</td>
          <td>{{ daemonset.current }}</td>
          <td>{{ daemonset.ready }}</td>
          <td>{{ daemonset.age }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>

{% endblock %}
