<!-- templates/dashboard/dashboard.html -->
{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <!-- Deafault username password block -->
  {% if warning %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ warning }} 
    <a href="/update-password"><strong>Click here to update</strong></a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <h1>Welcome to the Dashboard!</h1>
  <h4>Powered by Thinknyx Technologies</h4>

  <div class="container my-5">

    <!-- Cluster Overview -->
    <div class="row mb-4 justify-content-center">
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Nodes</h4>
                <h5 class="card-text text-dark">{{node_count}}</h4>
                <canvas id="nodesChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">  
            <div class="card text-center p-4">
                <h4 class="card-title">Pods</h4>
                <h4 class="card-text text-dark">{{pod_count}}</h4>
                <canvas id="podsChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
    </div>

    <!-- Pods overview -->
    <div class="row mb-4 justify-content-between">
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Deployments</h4>
                <h4 class="card-text text-dark">{{deployments_count}}</h4>
                <canvas id="deploymentChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Daemonsets</h4>
                <h4 class="card-text text-dark">{{daemonset_count}}</h4>
                <canvas id="daemonChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Replicasets</h4>
                <h4 class="card-text text-dark">{{replicaset_count}}</h4>
                <canvas id="replicaChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Statefulsets</h4>
                <h4 class="card-text text-dark">{{statefulset_count}}</h4>
                <canvas id="statefulChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Jobs</h4>
                <h4 class="card-text text-dark">{{job_count}}</h4>
                <canvas id="jobChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card text-center p-4">
                <h4 class="card-title">Cron Jobs</h4>
                <h4 class="card-text text-dark">{{cronjob_count}}</h4>
                <canvas id="cronjobChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
            </div>
        </div>
    </div>


        <!-- Resource Usage Summary -->
        <div class="row">
          <div class="col-lg-6">
              <div class="card text-center p-4">
                  <h5 class="card-title">Cluster CPU Usage</h5>
                  <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 65%;">65%</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card text-center p-4">
                  <h5 class="card-title">Cluster Memory Usage</h5>
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 75%;">75%</div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Node Status -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h5>Node Status</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Node Name</th>
                            <th>Status</th>
                            <th>CPU Usage</th>
                            <th>Memory Usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Node-1</td>
                            <td><span class="status-badge bg-success rounded-pill text-white p-1">Ready</span></td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%;">70%</div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;">60%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Node-2</td>
                            <td><span class="status-badge bg-danger rounded-pill text-white p-1">NotReady</span></td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;">50%</div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 30%;">30%</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Alerts and Events -->
    <div class="card mb-4">
        <div class="card-header bg-warning text-dark">
            <h5>Alerts and Events</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pod crash in Namespace `frontend`
                    <span class="badge bg-danger rounded-pill">Critical</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    ImagePullBackOff in Namespace `backend`
                    <span class="badge bg-warning rounded-pill">Warning</span>
                </li>
            </ul>
        </div>
    </div>
  
  <script>
    // node graph
    var nodesGraph = document.getElementById('nodesChart').getContext('2d');
        var myChart1 = new Chart(nodesGraph, {
            type: 'doughnut',
            data: {
                labels: ['Ready','Not Ready'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)',
                      'rgb(255, 204, 0)',
                    ],
                    borderWidth: 1,
                    data: ["{{ready_nodes}}","{{not_ready_nodes}}"]
                }]
            },
            options: {
                responsive: false,
                cutout: '80%',
                hoverOffset: 3, // hover effect
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // pod graph
    var podsGraph = document.getElementById('podsChart').getContext('2d');
        var myChart2 = new Chart(podsGraph, {
            type: 'doughnut',
            data: {
                labels: ['Pending','Running','Failed','Succeeded'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(255, 204, 0)',
                      'rgb(40, 167, 69)',
                      'rgb(220, 53, 69)',
                      'rgb(23, 162, 184)'
                    ],
                    borderWidth: 1,
                    data: ["{{status_count.Pending}}","{{status_count.Running}}","{{status_count.Failed}}", "{{status_count.Succeeded}}"]
                }]
            },
            options: {
                responsive: false,
                cutout: '80%',
                hoverOffset: 5, // hover effect
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // deployment graph
    var deploymentGraph = document.getElementById('deploymentChart').getContext('2d');
        var myChart3 = new Chart(deploymentGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{deployments_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // daemonset graph
    var daemonsetGraph = document.getElementById('daemonChart').getContext('2d');
        var myChart4 = new Chart(daemonsetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{daemonset_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // replicaset graph
    var replicasetGraph = document.getElementById('replicaChart').getContext('2d');
        var myChart5 = new Chart(replicasetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{replicaset_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // statefulset graph
    var statefulsetGraph = document.getElementById('statefulChart').getContext('2d');
        var myChart6 = new Chart(statefulsetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{statefulset_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // job graph
    var jobGraph = document.getElementById('jobChart').getContext('2d');
        var myChart7 = new Chart(jobGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{job_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // cronjob graph
    var cronjobGraph = document.getElementById('cronjobChart').getContext('2d');
        var myChart8 = new Chart(cronjobGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)'
                    ],
                    borderWidth: 1,
                    data: ["{{cronjob_count}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
  </script>
{% endblock %}