<!-- templates/dashboard/dashboard.html -->
{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block favicon %}https://cdn-icons-png.flaticon.com/512/3388/3388738.png{% endblock %}

{% block content %}

    <!-- Deafault username password block -->
    {% if warning %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ warning }} 
        <a href="/update-password"><strong>Click here to update</strong></a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="container mt-3">
            <form>
                <div class="form-group d-flex align-items-center" style="width: 30%;">
                    <select id="categorySelect" class="form-control mr-2">
                        <option value="all">All Namespaces</option>
                        {% for ns in namespaces %}
                            <option value="{{ ns }}" {% if ns == selected_namespace %}selected{% endif %} >{{ ns }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary ms-3">Go</button>
                </div>
            </form>
    </div>



    <div class="cluster-card">
        <div class="cluster-sidebar">
            <p><b>Cluster Information:</b></p>
            <li>Cluster Name: {{current_cluster}}</li>
            <li>Nodes: {{node_count}}</li>
            <li>Namespace: {{namespaces_count}}</li>
            <li>Pods: {{pod_count}}</li>
        </div>
        <div class="cluster-charts">
            <div class="text-center">
                <h6>Current Usage</h6>
                {% if metrics.error %}
                    <h6 style="color: red;">Set up Metric Server to view cluster metrics.</h6>
                {% endif %}
                <div class="chart-container-bar">
                    <canvas id="usageChart"></canvas>
                </div>
                <h6>Total CPU: {{metrics.cpu_total}}, Total Memory: {{metrics.memory_total}} Gi </h6>
            </div>
            <div class="cluster-chart-container" >
                <canvas id="nodesChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                <p style="text-align: center;" class="cluster-text-center">Nodes: {{node_count}}</p>
            </div>
            <div class="cluster-chart-container">
                <canvas id="podsChart" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                <p style="text-align: center;" class="cluster-text-center">Pods: {{pod_count}}</p>
            </div>
        </div>
    </div>


    <div class="container my-5">
        <div class="row mb-4 dash-cards">
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/deployments?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">Deployments</p>
                    <p class="card-text text-dark">{{ deployments_status.Count }}</p>
                    <canvas id="deploymentChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/daemonset?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">DaemonSets</p>
                    <p class="card-text text-dark">{{daemonset_status.Count}}</p>
                    <canvas id="daemonChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/replicasets?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">ReplicaSets</p>
                    <p class="card-text text-dark">{{replicaset_status.Count}}</p>
                    <canvas id="replicaChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/statefulsets?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">StatefulSets</p>
                    <p class="card-text text-dark">{{statefulset_status.Count}}</p>
                    <canvas id="statefulChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/jobs?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">Jobs</p>
                    <p class="card-text text-dark">{{jobs_status.Count}}</p>
                    <canvas id="jobChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a class="text-decoration-none" href="/{{current_cluster}}/cronjobs?cluster_id={{cluster_id}}">
                <div class="card text-center p-4">
                    <p class="card-title bold">CronJobs</p>
                    <p class="card-text text-dark">{{cronjob_status.Count}}</p>
                    <canvas id="cronjobChart" class="dash-card-canvas" role="doughnut-graph" aria-label="health"><p>Error displaying graph</p></canvas>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Dropdown with checkboxes to select columns -->
        <div class="mb-3">
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Columns to Display
                </button>
              <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
                    <label class="form-check-label" for="All"> All</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
                    <label class="form-check-label" for="Namespace"> Namespace</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Message" id="Message" checked> 
                    <label class="form-check-label" for="Message"> Message</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Object" id="Object" checked> 
                    <label class="form-check-label" for="Object"> Object</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Source" id="Source" checked> 
                    <label class="form-check-label" for="Source"> Source</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Count" id="Count" checked> 
                    <label class="form-check-label" for="Count"> Count</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Timestamp" id="Timestamp" checked> 
                    <label class="form-check-label" for="Timestamp"> Timestamp</label>
                </li>
                <li>
                    <input class="form-check-input column-checkbox" type="checkbox" value="Type" id="Type" checked> 
                    <label class="form-check-label" for="Type"> Type</label>
                </li>
              </ul>
            </div>
        </div>
        <table class="table table-bordered" style="border-radius: 8px; overflow: hidden;">
            <thead class="table-dark">
            <tr>
              <th id="colNamespace">NAMESPACE</th>
              <th id="colMessage">MESSAGE</th>
              <th id="colObject">OBJECT</th>
              <th id="colSource">SOURCE</th>
              <th id="colCount">COUNT</th>
              <th id="colTimestamp">TIMESTAMP</th>
              <th id="colType">TYPE</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <td>{{event.namespace}}</td>
                <td>
                    <span class="message-truncate" data-full="{{event.message}}">
                        {{ event.message|truncatechars:100 }}
                    </span>
                </td>
                <td>{{event.object}}</td>
                <td>{{event.source}}</td>
                <td>{{event.count}}</td>
                <td>{{event.last_seen}}</td>
                <td><span {% if event.type == "Warning" %} class="warning-event" {% endif %}>{{event.type}}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-primary w-auto mt-auto mb-3" href="/{{current_cluster}}/events?cluster_id={{cluster_id}}">
            More Events
        </a>
    </div>
  <script src="{% static 'js/cluster_actions.js' %}"></script>
  <script>
    let current_cluster = "{{ current_cluster }}";  // Injected from Django template
    let cluster_id =  "{{ cluster_id|default:0 }}";  // Injected from Django template
    // CPU and Memory usage graph
    var usageChart = document.getElementById('usageChart').getContext('2d');
        var myChart0 = new Chart(usageChart, {
            type: 'bar',
            data: {
                labels: ['CPU Usage', 'Memory Usage'],
                datasets: [{
                    label: 'Usage (in %)',
                    backgroundColor: ['rgba(54, 162, 235, 0.6)', 'rgba(255, 99, 132, 0.6)'],
                    data: ["{{metrics.cpu_usage}}", "{{metrics.memory_usage}}"],
                    // data: [35, 86],
                    barThickness: 50,
                    borderRadius: 10,
                    dataLabels: {
                    display: true,
                    position: 'inside', 
                    color: '#fff' 
                    }
                }]
            },
            options: {
                responsive: true,
                // cutout: '80%',
                hoverOffset: 3, // hover effect
                maintainAspectRatio: false,
                scales: {
                    y: { beginAtZero: true, max: 100, ticks:{stepSize: 10}, grid:{display:false} },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                    enabled: true, // Show tooltips for more details
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.raw + '%'; // Display percentage in tooltips
                        }
                    }
                    }
                }
            }
        });

    // node graph
    var nodesGraph = document.getElementById('nodesChart').getContext('2d');
        var myChart1 = new Chart(nodesGraph, {
            type: 'doughnut',
            data: {
                labels: ['Ready','Not Ready'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69',
                      'rgb(255, 204, 0)',
                    ],
                    borderWidth: 1,
                    data: ["{{ready_nodes}}","{{not_ready_nodes}}"]
                }]
            },
            options: {
                responsive: false,
                cutout: '80%',
                hoverOffset: 5, // hover effect
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // pod graph
    var podsGraph = document.getElementById('podsChart').getContext('2d');
        var myChart2 = new Chart(podsGraph, {
            type: 'doughnut',
            data: {
                labels: ['Pending','Running','Failed','Succeeded'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(255, 204, 0)',
                      'rgb(40, 167, 69)',
                      'rgb(220, 53, 69)',
                      'rgb(169,169,169)'
                    ],
                    borderWidth: 1,
                    data: ["{{status_count.Pending}}","{{status_count.Running}}","{{status_count.Failed}}", "{{status_count.Succeeded}}"]
                }]
            },
            options: {
                responsive: true,
                cutout: '80%',
                hoverOffset: 5, // hover effect
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

    // deployment graph
    var deploymentGraph = document.getElementById('deploymentChart').getContext('2d');
        var myChart3 = new Chart(deploymentGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running','Pending'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                        'rgb(40, 167, 69)',
                        'rgb(255, 204, 0)'
                    ],
                    borderWidth: 1,
                    data: ["{{deployments_status.Running}}", "{{deployments_status.Pending}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // daemonset graph
    var daemonsetGraph = document.getElementById('daemonChart').getContext('2d');
        var myChart4 = new Chart(daemonsetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running','Pending'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                        'rgb(40, 167, 69)',
                        'rgb(255, 204, 0)'
                    ],
                    borderWidth: 1,
                    data: ["{{daemonset_status.Running}}","{{daemonset_status.Pending}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // replicaset graph
    var replicasetGraph = document.getElementById('replicaChart').getContext('2d');
        var myChart5 = new Chart(replicasetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running','Pending'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)',
                      'rgb(255, 204, 0)'
                    ],
                    borderWidth: 1,
                    data: ["{{replicaset_status.Running}}","{{replicaset_status.Pending}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // statefulset graph
    var statefulsetGraph = document.getElementById('statefulChart').getContext('2d');
        var myChart6 = new Chart(statefulsetGraph, {
            type: 'doughnut',
            data: {
                labels: ['Running','Pending'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(40, 167, 69)',
                      'rgb(255, 204, 0)'
                    ],
                    borderWidth: 1,
                    data: ["{{statefulset_status.Running}}","{{statefulset_status.Pending}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // job graph
    var jobGraph = document.getElementById('jobChart').getContext('2d');
        var myChart7 = new Chart(jobGraph, {
            type: 'doughnut',
            data: {
                labels: ['Completed','Failed','In-progress'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(169,169,169)',
                      'rgb(220, 53, 69)',
                      'rgb(255, 204, 0)'
                    ],
                    borderWidth: 1,
                    data: ["{{jobs_status.Completed}}", "{{jobs_status.Failed}}", "{{jobs_status.Running}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    // cronjob graph
    var cronjobGraph = document.getElementById('cronjobChart').getContext('2d');
        var myChart8 = new Chart(cronjobGraph, {
            type: 'doughnut',
            data: {
                labels: ['In-progress','Completed'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: [
                      'rgb(255, 204, 0)',
                      'rgb(169,169,169)'
                    ],
                    borderWidth: 1,
                    data: ["{{cronjob_status.Running}}","{{cronjob_status.Completed}}"]
                }]
            },
            options: {
                responsive: false,
                hoverOffset: 3, // hover effect
                cutout: '80%',
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
  </script>
{% endblock %}