{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block favicon %}https://cdn-icons-png.flaticon.com/128/18621/18621795.png{% endblock %}

{% block content %}
<style>
  .pagination {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
}

.pagination a:hover {
    background-color: #0568d1;
    color: white;
}

.pagination .current {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
}
</style>
<div class="container">
  <div class="container">
    {% if events is null %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill mx-2"></i>
      No Event Found.
    </div>
  {% else %}
    <div class="mb-1 d-flex justify-content-between">
      <!-- New dropdown on the left -->
      <div class="d-flex">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Namespaces
          </button>
          <ul class="dropdown-menu p-2" aria-labelledby="newDropdown">
              <li>
                  <input type="checkbox" id="allNamespaces" class="form-check-input" onclick="toggleAllNamespaces()">
                  <label for="allNamespaces">All Namespaces</label>
              </li>
              <hr>
              {% for ns in namespaces %}
              <li>
                  <input type="checkbox" class="namespace-checkbox form-check-input" value="{{ ns }}" onclick="namespaceHandler()">
                  <label>{{ ns }}</label>
              </li>
              {% endfor %}
          </ul>
        </div>

        <div class="mx-3">
          <input type="text" id="tableSearchInput" class="form-control mb-3" placeholder="Search events...">
        </div>
      </div>
  
      <div class="dropdown">
        <button class="btn btn-custom dropdown-toggle" type="button" id="columnSelector" data-bs-toggle="dropdown" aria-expanded="false">
          Select Columns to Display
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="columnSelector">
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="All" id="All"> 
              <label class="form-check-label" for="All"> All</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Namespace" id="Namespace" checked> 
              <label class="form-check-label" for="Namespace"> Namespace</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Message" id="Message" checked> 
              <label class="form-check-label" for="Message"> Message</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Object" id="Object" checked> 
              <label class="form-check-label" for="Object"> Object</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Source" id="Source" checked> 
              <label class="form-check-label" for="Source"> Source</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Count" id="Count" checked> 
              <label class="form-check-label" for="Count"> Count</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Timestamp" id="Timestamp" checked> 
              <label class="form-check-label" for="Timestamp"> Timestamp</label>
          </li>
          <li>
              <input class="form-check-input column-checkbox" type="checkbox" value="Type" id="Type" checked> 
              <label class="form-check-label" for="Type"> Type</label>
          </li>
        </ul>
      </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered">
      <thead class="table-dark">
      <tr>
        <th class="sortable" id="colNamespace">NAMESPACE</th>
        <th class="sortable" id="colMessage">MESSAGE</th>
        <th class="sortable" id="colObject">OBJECT</th>
        <th class="sortable" id="colSource">SOURCE</th>
        <th class="sortable" id="colCount">COUNT</th>
        <th class="sortable" id="colTimestamp">TIMESTAMP</th>
        <th class="sortable" id="colType">TYPE</th>
      </tr>
      </thead>
      <tbody>
      {% for event in events %}
      <tr>
          <td>{{event.namespace}}</td>
          <td>
              <span class="message-truncate" data-full="{{event.message}}">
                  {{ event.message|truncatechars:100 }}
              </span>
          </td>
          <td>{{event.object}}</td>
          <td>{{event.source}}</td>
          <td>{{event.count}}</td>
          <td>{{event.last_seen}}</td>
          <td><span {% if event.type == "Warning" %} class="warning-event" {% endif %}>{{event.type}}</span></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <!-- Pagination controls -->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="/{{ cluster_id }}/events?cluster_id={{cluster_id}}&page=1">&laquo; First</a>
          <a href="/{{ cluster_id }}/events?cluster_id={{cluster_id}}&page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="/{{ cluster_id }}/events?cluster_id={{cluster_id}}&page={{ page_obj.next_page_number }}">Next</a>
          <a href="/{{ cluster_id }}/events?cluster_id={{cluster_id}}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
  </span>
</div>
    
  </div>
  {% endif %}
  <script src="{% static 'js/namespaceFilter.js' %}"></script>

{% endblock %}