{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}k8sgpt{% endblock %}

{% block favicon %}https://cdn-icons-png.flaticon.com/512/14898/14898115.png{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="/{{cluster_id}}/k8sgpt?cluster_id={{cluster_id}}">
        {% csrf_token %}
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="explain" name="explain">
            <label class="form-check-label" for="explain">Explain</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <div class="container mt-4">
    <h3 class="mb-4">Kubernetes Analysis</h3>

    {% for item in output %}
    <div>
        <p><b>Kind: {{item.kind}}</b></p>
        <p>Name: {{item.name}}</p>
        <p>Error: {{item.error.0.Text}}</p>
        {% if item.details %}
        <p>Details: {{item.details|linebreaks}}</p>
        {% endif %}
    </div>
    {% endfor %}

    </div>


</div>

{% endblock %}





