{% extends 'dashboard/base.html' %}

{% block title %}Pods{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pod-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <h2 class="mb-4">Pod Details: {{ pod_name }}</h2>

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logs-tab" data-bs-toggle="tab" href="#logs">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <h4>Describe Pod</h4>
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; padding: 10px;">
                    <pre>{{ pod_info.describe }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="logs">
                <h4>Pod Logs</h4>
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; padding: 10px;">
                    <pre>{{ pod_info.logs }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="events">
                <h4>Pod Events</h4>
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; padding: 10px;">
                    <pre>{{ pod_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <h4>Pod YAML</h4>
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; padding: 10px;">
                    <pre>{{ pod_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="{% url 'pods' cluster_id=cluster_id %}" class="btn btn-primary mt-3">Back to Pods</a>
    </div>
  
{% endblock %}
