{% extends 'dashboard/base.html' %}

{% block title %}Pods{% endblock %}

{% block favicon %}https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pod-128.png?raw=true{% endblock %}

{% block content %}


    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <img src="https://github.com/kubernetes/community/blob/master/icons/png/resources/unlabeled/pod-128.png?raw=true" style="height: 5vh;" alt="pod">
            <h2 class="mb-4 ps-3 text-primary">Pod: {{ pod_name }}</h2>
        </div>
        

        <!-- Bootstrap Tabs -->
        <ul class="nav nav-tabs" id="podTabs">
            <li class="nav-item">
                <a class="nav-link active" id="describe-tab" data-bs-toggle="tab" href="#describe">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logs-tab" data-bs-toggle="tab" href="#logs">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="yaml-tab" data-bs-toggle="tab" href="#yaml">YAML</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="describe">
                <div class="overflow-auto" style="max-height: 60vh; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
                  <pre>
<b>Name</b>: {{ pod_info.describe.name }}
<b>Namespace</b>: {{ pod_info.describe.namespace }}
<b>Status</b>: {{ pod_info.describe.status }}
<b>Node Name</b>: {{ pod_info.describe.node_name }}
<b>Pod IP</b>: {{ pod_info.describe.pod_ip }}
<b>Host IP</b>: {{ pod_info.describe.host_ip }}
<b>Start Time</b>: {{ pod_info.describe.start_time }}
<b>Containers</b>:{% for container in pod_info.describe.containers %}
  - <strong>Name:</strong> {{ container.name }}
      <strong>Image:</strong> {{ container.image }}
      <strong>Ports:</strong>{% for port in container.ports %} {{ port }}{% endfor %}{% endfor %}
<b>Conditions</b>:{% for condition in pod_info.describe.conditions %}
  - <strong>Type:</strong> {{ condition.type }}
      <strong>Status:</strong> {{ condition.status }}
      <strong>Reason:</strong> {{ condition.reason }}{% endfor %}
</pre>
                </div>
              </div>
              
            <div class="tab-pane fade" id="logs">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ pod_info.logs }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="events">
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <pre>{{ pod_info.events }}</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="yaml">
                <!-- <h4>Pod YAML</h4> -->
                <div class="overflow-auto" style="max-height: 60vh; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px; position: relative;">
                    <!-- Copy Button inside the div -->
                    <button id="copyButton" onclick="copyToClipboard()" class="btn btn-info text-white position-absolute top-0 end-0 m-3">
                        Copy YAML
                    </button>
                    
                
                    <pre id="yamlContent">{{ pod_info.yaml }}</pre>
                </div>
            </div>
            
        </div>

        <a href="/{{current_cluster}}/pods?cluster_id={{cluster_id}}" class="btn btn-primary mt-3">Back to Pods</a>
    </div>
    
    {% load static%}
    <script src="{% static 'js/copyYAML.js' %}"></script>
{% endblock %}
